<nav
  class="container-fluid navbar is-fixed-top is-spaced is-transparent"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a
      class="navbar-item"
      [routerLink]="appLogoWithLink.routerLink"
    >
      <img
        [src]="appLogoWithLink.logo"
        alt="logo"
        width="50"
        height="auto"
        class="navbar__img"
      />
    </a>

    <a
      role="button"
      #navbarBurger
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="appNavBarMenu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="appNavBarMenu"
    #appNavBarMenu
    class="navbar-menu"
  >
    <!-- navbar start -->
    <div class="navbar-start">
      @for (navbarMenuItem of navbarMenuItems; track $index) {
        @if (!navbarMenuItem.hasSubMenu) {
          <a
            class="navbar-item"
            [routerLink]="navbarMenuItem.routerLink"
            routerLinkActive="is-active"
          >
            <i-feather [name]="navbarMenuItem.icon"></i-feather>
            <span class="ml-2">{{ navbarMenuItem.title }}</span>
          </a>
        }
        @if (navbarMenuItem.hasSubMenu) {
          <section class="navbar-item has-dropdown is-hoverable">
            <a
              class="navbar-link"
              routerLinkActive="is-active"
              [routerLink]="[navbarMenuItem.routerLink]"
            >
              <i-feather [name]="navbarMenuItem.icon"></i-feather>
              <span class="ml-2">{{ navbarMenuItem.title }}</span>
            </a>

            <div class="navbar-dropdown is-boxed">
              @for (sub of navbarMenuItem.subMenu; track $index) {
                <a
                  class="navbar-item"
                  [routerLink]="[navbarMenuItem.routerLink, sub.routerLink]"
                  routerLinkActive="is-active"
                >
                  @if (sub.icon) {
                    <i-feather [name]="sub.icon"></i-feather>
                  }
                  <span class="ml-2">{{ sub.title }}</span>
                </a>
              }
            </div>
          </section>
        }
        <!-- hasSubMenu ends -->
      }
      <!-- navbar ends -->
    </div>
  </div>
</nav>
