<article class="container-fluid">
  <form
    id="search"
    autocomplete="off"
    [formGroup]="userInputForm"
  >
    <div class="control has-icons-left has-icons-right">
      <input
        name="city"
        formControlName="city"
        class="input is-rounded"
        type="text"
        placeholder="Enter city name"
        required
      />
      <span
        class="icon is-small is-left is-flex is-align-items-center is-justify-content-center"
      >
        <i-feather name="search"></i-feather>
      </span>

      @if (
        userInputForm.get('city')?.errors && userInputForm.get('city')?.touched
      ) {
        <p class="help is-danger">City name is required.</p>
      }
    </div>

    <button
      class="button is-primary is-light is-rounded"
      type="submit"
      (click)="onSubmit(userInputForm.value)"
      [disabled]="userInputForm.invalid"
    >
      Search
    </button>
  </form>

  @if (forecast$ | async; as forecasts) {
    <section class="forecast-header">
      <h2>For 5 days</h2>
      <b class="location">
        <i-feather name="map-pin"></i-feather>
        <span class="mx-1">
          {{ forecasts[0].city }}, {{ forecasts[0].country }}
        </span>
      </b>
    </section>
    <ul class="five-day-fl box">
      @for (forecast of forecasts; track forecast) {
        <li class="message is-primary">
          <div class="message-body">
            <p>
              {{ forecast.date | dateTimeFormatPipe: 'EEEE' }}
            </p>
            <p>
              <i [ngClass]="forecast.icon || ''"></i>
            </p>
            <p>
              <span>{{ forecast.currentTemp | number: '1.0-0' }}</span>
                <i class="wi wi-celsius"></i>
            </p>
            <p>
              {{ forecast.description | titlecase }}
            </p>
            <dl>
              <dt>
                Perceived
                <i class="wi wi-thermometer"></i>
              </dt>
              <dd>{{ forecast.feelsLike }} °C</dd>
              <dt>
                Humidity
                <i class="wi wi-humidity"></i>
              </dt>
              <dd>{{ forecast.humidity }}%</dd>
              <dt>
                Sunrise
                <i class="wi wi-sunrise"></i>
              </dt>
              <dd>
                {{ forecast.sunrise | dateTimeFormatPipe: 'h:mm a' }}
              </dd>
              <dt>
                Sunset
                <i class="wi wi-sunset"></i>
              </dt>
              <dd>
                {{ forecast.sunset | dateTimeFormatPipe: 'h:mm a' }}
              </dd>
              <dt>
                Wind speed
                <i class="wi wi-windy"></i>
              </dt>
              <dd>{{ forecast.windSpeed }} km/h</dd>
              <dt>
                Wind degree
                <i class="wi wi-windy"></i>
              </dt>
              <dd>{{ forecast.windDeg }}°</dd>
            </dl>
          </div>
        </li>
      }
    </ul>
  }
</article>
